
:root {
  --selection: #FDFDFE;
  --background: #FDFDFE;
  --text: #4E5377;
  --title: #8388AD;
  --built_in:  #4E5377;
  --keyword: #3788BE;
  --function: #F19A8E;
  --params: #77AAB3;
  --comment: #8388AD;
  --string: #886CDB;
  --number: #886CDB;
}

pre code {
  display: block;
  overflow-x: auto;
  padding: 10px;
  background: var(--background);
  -webkit-text-size-adjust: none;
}

pre code *::selection,
.hljs::selection {
  background: var(--selection) !important;
}

.hljs {
  color: var(--text);
}

.hljs-string {
  color: var(--string);
}

.hljs-number {
  color: var(--number) !important;
}

.hljs-title {
  color: var(--title) !important;
}

.hljs-built_in {
  color: var(--built_in) !important;
}

.hljs-keyword {
  color: var(--keyword) !important;
}

.hljs-function > .hljs-keyword {
  color: var(--function) !important;
  font-style: italic;
}

.hljs-params {
  color: var(--params);
}

.hljs-comment {
  color: var(--comment);
}
